#profileContainerAbout {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: url("/assets/images/CasualProfilePic.jpg")no-repeat center center;
    background-size: cover;
}

#aboutTextContainer {
    text-align: justify;
    font-size: 17px;
}

// .flex-spacer {
//     flex: 1 1 auto;
// }