<div class="basicContainer" [@fadeIn]="'in'" fxLayout="column" fxLayoutAlign="top center" fxLayoutGap="20px">

    <div style="width: 100%;" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <button mat-mini-fab id="menubtn" #menubtn color="accent" matTooltip="menu" (click)="openSideNav()">
            <mat-icon>menu</mat-icon>
        </button>
        <div id="headingInitial"></div>
        <h1>ABOUT ME</h1>
    </div>

    <div style="width: 100%;" fxLayout.md="row" fxLayoutAlign.md="space-evenly center" fxLayout.gt-md="row" fxLayoutAlign.gt-md="space-evenly center" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center" fxLayoutGap="10px">

        <div >
            <div id="profileContainerAbout"></div>
        </div>

        <mat-card fxFlex.md="40" fxFlex.gt-md="40" fxFlex.lt-md="100">
            <mat-card-title>
                Get to know me..
            </mat-card-title>
            <mat-card-content>
                <span id="aboutTextContainer">
                    Hi, my name is Karnav Shah. I am a Full-stack Developer. I like building cross-platform Applications. Currently, I am pursuing Masters in Computer Science at 
                    New Jersey Institute of Technology. I have done Bachelors in Computer Engineering from Mumbai University. I love programming and always strive for new 
                    technologies. Right now, I am having interest in learning Blockchain Technologies and Smart Contract. Over my past work experience, I have acquired necessary 
                    skills and knowledge to be successful Software Developer. Apart from being a techie geek, I love playing outdoor sports and go to gym.
                </span>

                <div style="width: 100%;" fxLayout="row" fxLayoutAlign="center center">
                    <a mat-raised-button href="/assets/docs/resume_latest.pdf" target="_blank" color="accent">
                        <mat-icon>cloud_download</mat-icon>
                        <span> Resume</span>
                    </a>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div style="width: 100%;" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-card fxFlex.md="60" fxFlex.gt-md="60" fxFlex.lt-md="100">
            <mat-card-title>Skills</mat-card-title>

            <mat-card-content>
                <ul>
                    <li>
                        <div fxLayout="column">
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <strong>Angular 2+</strong>
                                <span class="flex-spacer"></span>
                                90%
                            </div>
                            <mat-progress-bar mode="determinate" value="90" color="accent"></mat-progress-bar>
                        </div>
                    </li>
                    <br>
                    <li>
                        <div fxLayout="column">
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <strong>Node.JS</strong>
                                <span class="flex-spacer"></span>
                                90%
                            </div>
                            <mat-progress-bar mode="determinate" value="90" color="accent"></mat-progress-bar>
                        </div>
                    </li>
                    <br>
                    <li>
                        <div fxLayout="column">
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <strong>MongoDb</strong>
                                <span class="flex-spacer"></span>
                                90%
                            </div>
                            <mat-progress-bar mode="determinate" value="90" color="accent"></mat-progress-bar>
                        </div>
                    </li>
                    <br>
                    <li>
                        <div fxLayout="column">
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <strong>MySQL</strong>
                                <span class="flex-spacer"></span>
                                90%
                            </div>
                            <mat-progress-bar mode="determinate" value="90" color="accent"></mat-progress-bar>
                        </div>
                    </li>
                    <br>
                    <li>
                        <div fxLayout="column">
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <strong>Data Structures</strong>
                                <span class="flex-spacer"></span>
                                95%
                            </div>
                            <mat-progress-bar mode="determinate" value="95" color="accent"></mat-progress-bar>
                        </div>
                    </li>
                    <br>
                    <li>
                        <div fxLayout="column">
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <strong>Core Java</strong>
                                <span class="flex-spacer"></span>
                                90%
                            </div>
                            <mat-progress-bar mode="determinate" value="90" color="accent"></mat-progress-bar>
                        </div>
                    </li>
                    <br>
                    <li>
                        <div fxLayout="column">
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <strong>Blockchain</strong>
                                <span class="flex-spacer"></span>
                                60%
                            </div>
                            <mat-progress-bar mode="determinate" value="60" color="accent"></mat-progress-bar>
                        </div>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>

</div>
