<div class="basicContainer" fxLayout="column" fxLayoutAlign="top center" fxLayoutGap="10px">

    <div style="width: 100%;" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div id="headingInitial"></div>
        <h1>ABOUT ME</h1>
    </div>

    <div style="width: 100%;" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">

        <div >
            <div id="profileContainerAbout"></div>
        </div>

        <mat-card style="width: 40%;">
            <mat-card-title>
                Get to know me..
            </mat-card-title>
            <mat-card-content>
                <span id="aboutTextContainer">
                    Hi, my name is Karnav Shah. I am a Full-stack Developer. I like building cross-platform Applications. Currently, I am pursuing Masters in Computer Science at 
                    New Jersey Institute of Technology. I have done Bachelors in Computer Engineering from Mumbai University. I love programming and always strive for new 
                    technologies. Right now, I am having interest in learning Blockchain Technologies and Smart Contract. Over my past work experience, I have acquired necessary 
                    skills and knowledge to be successful Software Developer. Apart from being a techie geek, I love playing outdoor sports and go to gym.
                </span>

                <div style="width: 100%;" fxLayout="row" fxLayoutAlign="center center">
                    <a mat-raised-button href="/assets/docs/resume_latest.pdf" target="_blank" color="accent">
                        <mat-icon>cloud_download</mat-icon>
                        <span> Resume</span>
                    </a>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    

</div>
