#profileContainerAbout {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: url("/assets/images/CasualProfilePic.jpg")no-repeat center center;
    background-size: cover;
    @media screen and (min-width: 768px) and (orientation: portrait){
        display: inline-block;
      }
    
      @media screen and (min-width: 1024px) and (orientation: landscape){
        display: inline-block;
      }
    
      @media (min-width: 200px) and (max-width: 767px) and (orientation: portrait) {
        display: inline-block;
      }
    
      @media (min-width: 200px) and (max-width: 1023px) and (orientation: landscape) {
        display: none
      }
}

#aboutTextContainer {
    text-align: justify;
    font-size: 17px;
}

// .flex-spacer {
//     flex: 1 1 auto;
// }