<div class="basicContainer" fxLayout="column" fxLayoutAlign="top center" fxLayoutGap="10px">

    <div style="width: 100%;" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div id="headingInitial"></div>
        <h1>WORK EXPERIENCE</h1>
    </div>

    <div style="width: 100%;" fxLayout="row" fxLayoutAlign="center top" fxLayoutGap="10px">
        <mat-card color="primary" fxFlex="50">
            <mat-card-title>
                NearLaw
            </mat-card-title>
            <mat-card-content>
                <div fxLayout="column" fxLayoutAlign="top">
                    <h3 align="left">Full-stack Web Developer</h3>
                    <span style="text-align: justify;">
                        <strong>Responsibilities: </strong>My responsibilities were to design and build frontend Web application using Angular 8 framework. Create Rest API in Node.Js for Web and android applications. Test the working of Web application and deploy it on the Amazon Web Service cloud. Design schemas for Database in MongoDb and Elasticsearch.
                    </span> <br>
                    <span>
                        <strong>Projects: </strong> I had worked on several projects while I was in NearLaw.
                    </span>
                    <ul>
                        <li>
                            <span style="text-align: justify;">
                                <strong>Ejudgments: </strong> Ejudgments is a search engine, which is used to find any judgments passed by Hon'ble Supreme Court, High Courts and District courts of India.
                            </span><br>
                            <span>Technologies used: Angular 8, Node.JS, Express.JS, MongoDb, Elastic Search</span>
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <a mat-raised-button color="accent" href="https://nearlaw.com" target="_blank">Live Link</a>
                            </div>
                        </li>
                        <br>
                        <li>
                            <span>
                                <strong>NearLaw-Acts: </strong> NearLaw-Acts is a search-engine, which is used to search for any acts, order, article and rule of Indian Judiciary System.
                            </span><br>
                            <span>Technologies used: Angular 8, Node.JS, Express.JS, MongoDb</span>
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <a mat-raised-button color="accent" href="https://acts.nearlaw.com" target="_blank">Live Link</a>
                            </div>
                        </li>
                        <br>
                        <li>
                            <span>
                                <strong>Ejudgments-Devops: </strong> Ejudgments-devops is a tool used by data team of Nearlaw to injest data into our databases using forms.
                            </span><br>
                            <span>Technologies used: Angular 8, Node.JS, Express.JS, MongoDb</span>
                        </li> <br>
                        <li>
                            <span>
                                <strong>Nearlaw-Acts-Devops: </strong> Nearlaw-Acts-Devops is a tool used by data team of Nearlaw to injest data into our databases using forms.
                            </span><br>
                            <span>Technologies used: Angular 8, Node.JS, Express.JS, MongoDb</span>
                        </li>
                    </ul>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card color="primary" fxFlex="50">
            <mat-card-title>Rajkamal Barscans Pvt. Ltd.</mat-card-title>
            <mat-card-content>
                <div fxLayout="column" fxLayoutAlign="top">
                    <h3 align="left">Software Developer Intern</h3>
                    <span style="text-align: justify;">
                        <strong>Responsibilities: </strong> My responsibilities were to design and build frontend Web application using Angular 4 framework. Create Rest API in Node.Js for Web application. Test the working of Web Application. Design schemas for Database in MongoDb.
                    </span><br>
                    <span>
                        <strong>Projects: </strong>
                    </span>
                    <ul>
                        <li>
                            <span style="text-align: justify;">
                                <strong>Feedback-System: </strong> Feedback System is used to collect feedbacks from the customer regarding any hardware devices sold by company.
                            </span>
                        </li>
                    </ul>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
