<div [@fadeIn]="'in'" class="basicContainer" fxLayout="column" fxLayoutAlign="top center" fxLayoutGap="10px">

    <div style="width: 100%;" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div id="headingInitial"></div>
        <h1>PROJECTS</h1>
    </div>

    <div style="width: 100%;" fxLayout.md="row" fxLayoutAlign.md="center top" fxLayout.gt-md="row" fxLayoutAlign.gt-md="center top" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center" fxLayoutGap="10px">
        <mat-card fxFlex.md="33" fxFlex.gt-md="33" fxFlex.lt-md="100">
            <mat-card-title>
                Wallet
            </mat-card-title>
    
            <mat-card-content>
                <span>
                    <strong>Description: </strong> This is a E-Wallet system. Users can add their back accounts and then send/request money from other users.
                </span><br>
                <span>
                    <strong>Technologies: </strong> Angular 9, Node.JS, Express.JS, MySQL
                </span><br><br>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <a mat-raised-button href="https://github.com/Karnav7/Wallet" target="_blank" color="accent">
                        <fa-icon [icon]="faGithub"></fa-icon>
                        Github Link
                    </a>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card fxFlex.md="33" fxFlex.gt-md="33" fxFlex.lt-md="100">
            <mat-card-title>
                Skip-List Implementation
            </mat-card-title>

            <mat-card-content>
                <span>
                    <strong>Description: </strong> Design Skip-List and it is used to traverse Ordered Dictionary.
                </span><br>
                <span>
                    <strong>Technologies: </strong> Java
                </span><br><br>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <a mat-raised-button href="https://github.com/Karnav7/SkipListImplementation" target="_blank" color="accent">
                        <fa-icon [icon]="faGithub"></fa-icon>
                        Github Link
                    </a>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card fxFlex.md="33" fxFlex.gt-md="33" fxFlex.lt-md="100">
            <mat-card-title>
                Google Page Ranking
            </mat-card-title>

            <mat-card-content>
                <span>
                    <strong>Description: </strong> This algorithm is used to provide Page Rank of all the nodes(Pages).
                </span><br>
                <span>
                    <strong>Technologies: </strong> Java
                </span><br><br>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <a mat-raised-button href="https://github.com/Karnav7/GooglePageRanking" target="_blank" color="accent">
                        <fa-icon [icon]="faGithub"></fa-icon>
                        Github Link
                    </a>
                </div>
            </mat-card-content>
        </mat-card>
    </div> 
       

</div>
