#contactBgContainer {
    width: 100%;
    height: 60%;
    background: url("/assets/images/b3.jpg")no-repeat center center;
    background-size: cover;
    -moz-box-shadow:    3px 3px 5px 6px #424242;
    -webkit-box-shadow: 3px 3px 5px 6px #424242;
    box-shadow:         3px 3px 5px 6px #424242;
}

#menubtn {
    top: 10px;
    left: 10px;
    position: absolute;
}