<div [@fadeIn]="'in'" class="basicContainer" fxLayout="column" fxLayoutAlign="top center" fxLayoutGap="10px">
    <div id="contactBgContainer"></div>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <div id="headingInitial"></div>
        <h1>GET IN TOUCH WITH ME</h1>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
        <a class="hvr-grow" mat-fab href="https://www.linkedin.com/in/karnav" target="_blank">
            <fa-icon style="font-size: 30px;" [icon]="faLinkedin"></fa-icon>
        </a>

        <a class="hvr-grow" mat-fab href="https://www.github.com/Karnav7" target="_blank">
            <fa-icon style="font-size: 30px;" [icon]="faGithub"></fa-icon>
        </a>

        <a class="hvr-grow" mat-fab href="mailto:ks986@njit.edu" target="_blank">
            <fa-icon style="font-size: 30px;" [icon]="faEnvelope"></fa-icon>
        </a>
    </div>
</div>
