<app-sidenav></app-sidenav>

<!-- <mat-drawer-container id="dcMobile" class="example-container" [hasBackdrop]="true">
  <mat-drawer id="drawerMobile" class="background-primary-dark" mode="over" [(opened)]="opened">
    
    <div style="width: 100%;" fxLayout="column" fxLayoutAlign="top center" fxLayoutGap="5px">
      <div style="width: 100%;" id="nameContainer" fxLayout="row" fxLayoutAlign="center center">
        <span>Karnav Shah</span>
        
      </div>
      <hr style="width: 100%;">
      <mat-nav-list style="width: 100%;" fxLayoutGap="1px">
       
          <a class="hvr-grow" style="width:inherit;" fxLayout="row" mat-list-item routerLink="home" routerLinkActive="router-link-active">
            <span class="text-floral-white">Home</span> <div class="nav-text-header"></div>
          </a>
       
        
        <a class="hvr-grow" style="width:inherit;" fxLayout="row" mat-list-item routerLink="experience" routerLinkActive="router-link-active">
          <span class="text-floral-white">Experience</span> <div class="nav-text-header"></div>
        </a>
        <a class="hvr-grow" style="width:inherit;" fxLayout="row" mat-list-item routerLink="projects" routerLinkActive="router-link-active">
          <span class="text-floral-white">Projects</span> <div class="nav-text-header"></div>
        </a>
        <a class="hvr-grow" style="width:inherit;" fxLayout="row" mat-list-item routerLink="about" routerLinkActive="router-link-active">
          <span class="text-floral-white">About</span> <div class="nav-text-header"></div>
        </a>
        <a class="hvr-grow" style="width:inherit;" fxLayout="row" mat-list-item routerLink="contact" routerLinkActive="router-link-active">
          <span class="text-floral-white">Contact</span> <div class="nav-text-header"></div>
        </a>
      </mat-nav-list>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign="2px">
        <a class="hvr-grow" mat-icon-button href="https://www.linkedin.com/in/karnav" target="_blank">
          <fa-icon class="text-floral-white" style="font-size: 20px;" [icon]="faLinkedin"></fa-icon>
        </a>
        <a class="hvr-grow" mat-icon-button href="https://www.github.com/Karnav7" target="_blank">
          <fa-icon class="text-floral-white" style="font-size: 20px;" [icon]="faGithub"></fa-icon>
        </a>
      </div>
    </div>
  </mat-drawer>

  <mat-drawer-content>

    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container> -->