<mat-drawer-container class="example-container">
  <mat-drawer class="background-primary-dark" mode="side" opened>
    <!-- <p>Hello</p> -->
    <div style="width: 100%;" fxLayout="column" fxLayoutAlign="top center" fxLayoutGap="5px">
      <div style="width: 100%;" id="nameContainer" fxLayout="row" fxLayoutAlign="center center">
        <span>Karnav Shah</span>
        
      </div>
      <hr style="width: 100%;">
      <mat-nav-list fxLayoutGap="1px">
        <a mat-list-item routerLink="home">
          <span class="text-floral-white">Home</span>
        </a>
        <a mat-list-item href="#">
          <span class="text-floral-white">Experience</span>
        </a>
        <a mat-list-item href="#">
          <span class="text-floral-white">Projects</span>
        </a>
        <a mat-list-item href="#">
          <span class="text-floral-white">About</span>
        </a>
        <a mat-list-item href="#">
          <span class="text-floral-white">Contact</span>
        </a>
      </mat-nav-list>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign="2px">
        <a mat-icon-button href="#">
          <fa-icon class="text-floral-white" [icon]="faLinkedin"></fa-icon>
        </a>
        <a mat-icon-button href="#">
          <fa-icon class="text-floral-white" [icon]="faGithub"></fa-icon>
        </a>
      </div>
    </div>
  </mat-drawer>

  <mat-drawer-content>

    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>