.backgroundContainer {
    background: url("/assets/images/b8.jpg")no-repeat center center;
    background-size: cover;
    height: 100vh;
    
}

#borderCircle {
    height: 300px;
    width: 300px;
    // background-color: white;
    border-radius: 50%;
    background: rgba(204, 204, 204, 0.5);
    box-shadow: 0 8px 6px -6px black;
}

#profilePicHome {
    margin-top: 12.5px;
    margin-left: 12.5px;
    height: 275px;
    width: 275px;
    background-color: white;
    border-radius: 50%;
    background: url("/assets/images/professionalProfilePic.jpg")no-repeat center center;
    background-size: cover;
}

#nameTextHome {
    font-size: 40px;
    text-shadow: 2px 2px #424242;
}

#postTextHome {
    font-size: 20px;
    text-shadow: 2px 2px #424242;
    box-shadow: 0 8px 6px -6px black;
}

#menubtn {
    top: 10px;
    left: 10px;
    position: absolute;
}