<div class="backgroundContainer" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
    <!-- <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1px"> -->
        <div id="borderCircle">
            <div id="profilePicHome">

            </div>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1px">
            <span id="nameTextHome" class="text-floral-white">KARNAV SHAH</span>
            <span id="postTextHome" class="text-floral-white">I am Full-stack Developer</span>
        </div>
    <!-- </div> -->
</div>
