<div [@fadeIn]="'in'" class="backgroundContainer" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
    <!-- <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1px"> -->
        <button mat-mini-fab id="menubtn" #menubtn color="accent" matTooltip="menu" (click)="openSideNav()">
            <mat-icon>menu</mat-icon>
        </button>
        <div id="borderCircle">
            <div id="profilePicHome">

            </div>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1px">
            <span id="nameTextHome" class="text-floral-white">KARNAV SHAH</span>
            <span id="postTextHome" class="text-floral-white">I am a Full-stack Developer</span>
        </div>
    <!-- </div> -->
</div>
